*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

/* header-style */

header{
    width: 90%;
    max-width: 1600px;
    margin: 50px auto;
    min-height: 800px;
    background-image: linear-gradient(180.00deg, rgba(7, 2, 17, 1) 0%,rgba(7, 2, 17, 0) 100%), url('./new-year-offer-resources/images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

header h3{
    color: rgba(255, 255, 255, 1);
    font-family: Merriweather;
    font-size: 2rem;
    font-weight: 400;
}

header h1{
    color: rgba(255, 255, 255, 1);
    font-family: Merriweather;
    font-size: 4.5rem;
    font-weight: 900;
    max-width: 632px;
}


/* discount-section */

.discount-section{
    width: 50%;
    max-width: 1600px;
    margin: 120px auto 0;
    text-align: center;
}

.discount-section h1{
    color: rgba(255, 0, 0, 1);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-section h5{
    color: rgba(255, 0, 0, 1);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount-section h3{
    color: rgba(7, 2, 17, 1);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px
}

.discount-section img{
    width: 100%;
    min-height: 500px;
}