@media screen and (max-width:576px){
      
    
    header h1 {
        color: rgba(255, 255, 255, 1);
        font-family: Merriweather;
        font-size: 3rem;
        font-weight: 900;
        max-width: 632px;
    }
    
    
    /* discount-style */

    .discount-section{
        width: 90%;
        height: auto;
        margin: 5px auto;
    }


    /* welcome-style */


    .welcome-section {
        background-image: linear-gradient(90.00deg, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0) 100%), url(../new-year-offer-resources/images/Vectorrr.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 90%;
        max-width: 1600px;
        min-height: 600px;
        margin: 120px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }

    .welcome-section .welcome-contents {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-left: 50px;
    }

    .welcome-texts {
       margin: 0 auto;
    }

    .welcome-contents h1 {
        color: rgba(255, 255, 255, 1);
        font-family: Merriweather;
        font-size: 3rem;
        font-weight: 900;
        max-width: 50%;
        line-height: normal;
        letter-spacing: 5px;
        text-align: left;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .welcome-contents p{
        margin-bottom: 20px;
    }

    .welcome-image {
        text-align: center;
        margin: 0 auto;
        
    }


    /* join-style */

    .join{
        margin-bottom: 50px;
    }

    .join-contents{
        width: 85%;
    }

    .join-contents .join-texts h3{
        font-size: 1.5rem;
    }

    /* offer-style */

    .offer-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .offer-container .left-aside, .right-aside,
    .left-aside {
        max-width: 100%;
        text-align: center;
    }

    .offer-container .offer-image{
        padding: 10px;
    }

    .offer-image img{
        width: 90%;
        margin: 18px;
    }

    /* sale-section */

    .sale-image-container{
        padding-top: 124px;
    }

    .sale-image-container #box {
        width: 40%;
        top: 25%;
    }

    .sale-image-container #discount{
        width: 22%;
    }

    /* portfolio-style */

    .portfolio .portfolio-image-container{
        grid-template-columns: repeat(1,1fr);
    }

    /* subscribe-style */

        #input{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .subscribe input[type="email"]{
        width: 50%;
        text-align: center;
        padding: 20px;
        font-size: 1.25rem;
        border: none;
        border-radius: 50px;
        background: rgba(255, 255, 255, 1);
    }

    .subscribe button{
        width: 50%;
        padding: 20px;
        font-size: 1.25rem;
        border: none;
        border-radius: 50px;
        background-color: rgba(255, 0, 0, 1);
        color: rgba(255, 255, 255, 1);
    }

    /* footer-style */

    .upper-footer {
        display: flex;
        flex-wrap: wrap;
        margin-top: 120px;
        margin-bottom: 50px;
        gap: 30px;
    }

    .middle-footer{
        display: flex;
        flex-wrap: wrap;
    }

    .down-footer {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 120px;
        gap: 20px;
    }


}