@media screen and (max-width:576px){
      
    
    header h1 {
        color: rgba(255, 255, 255, 1);
        font-family: Merriweather;
        font-size: 3rem;
        font-weight: 900;
        max-width: 632px;
    }
    
    
    .discount-section{
        width: 90%;
        height: auto;
        margin: 5px auto;
    }


    .welcome-section {
        background-image: linear-gradient(90.00deg, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0) 100%), url(../new-year-offer-resources/images/Vectorrr.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 90%;
        max-width: 1600px;
        min-height: 600px;
        margin: 120px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }

    .welcome-section .welcome-contents {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-left: 50px;
    }

    .welcome-texts {
       margin: 0 auto;
    }

    .welcome-contents h1 {
        color: rgba(255, 255, 255, 1);
        font-family: Merriweather;
        font-size: 3rem;
        font-weight: 900;
        max-width: 50%;
        line-height: normal;
        letter-spacing: 5px;
        text-align: left;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .welcome-contents p{
        margin-bottom: 20px;
    }

    .welcome-image {
        text-align: center;
        margin: 0 auto;
        
    }
}