*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

/* header-style */

header{
    width: 90%;
    max-width: 1600px;
    margin: 50px auto;
    min-height: 800px;
    background-image: linear-gradient(180.00deg, rgba(7, 2, 17, 1) 0%,rgba(7, 2, 17, 0) 100%), url('../new-year-offer-resources/images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

header h3{
    color: rgba(255, 255, 255, 1);
    font-family: Merriweather;
    font-size: 2rem;
    font-weight: 400;
}

header h1{
    color: rgba(255, 255, 255, 1);
    font-family: Merriweather;
    font-size: 4.5rem;
    font-weight: 900;
    max-width: 632px;
}


/* discount-section */

.discount-section{
    width: 50%;
    max-width: 1600px;
    margin: 120px auto 0;
    text-align: center;
}

.discount-section h1{
    color: rgba(255, 0, 0, 1);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-section h5{
    color: rgba(255, 0, 0, 1);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount-section h3{
    color: rgba(7, 2, 17, 1);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px
}

.discount-section img{
    width: 100%;
    min-height: 500px;
}


/* welcome-section */

.welcome-section{
    background-image: linear-gradient(90.00deg, rgba(7, 2, 17, 1),rgba(7, 2, 17, 0) 100%),url('../new-year-offer-resources/images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    max-width: 1600px;
    min-height: 600px;
    margin: 120px auto ;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.welcome-section .welcome-contents{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-texts{
    margin-left: 125px;
}

.welcome-contents h1{
    color: rgba(255, 255, 255, 1);
    font-family: Merriweather;
    font-size: 4rem;
    font-weight: 900;
    max-width: 542px;
    min-width: 176px;
    line-height: 88px;
    letter-spacing: 5px;
    text-align: left;
    margin-bottom: 24px;
}

.welcome-contents p{
    color: rgba(255, 255, 255, 0.7);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 900px;
    min-height: 69px;
    text-align: left;
    margin-bottom: 48px;
}

.welcome-contents h5{
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-left: 25px;
}

.welcome-image{
    text-align: center;
    margin: auto;
    margin-left: -10px;
}

