*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}



/* header-style */



header{
    width: 90%;
    max-width: 1600px;
    margin: 50px auto;
    min-height: 800px;
    background-image: linear-gradient(180.00deg, rgba(7, 2, 17, 1) 0%,rgba(7, 2, 17, 0) 100%), url('../new-year-offer-resources/images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

header h3{
    color: rgba(255, 255, 255, 1);
    font-family: Merriweather;
    font-size: 2rem;
    font-weight: 400;
}

header h1{
    color: rgba(255, 255, 255, 1);
    font-family: Merriweather;
    font-size: 4.5rem;
    font-weight: 900;
    max-width: 632px;
}



/* discount-section */



.discount-section{
    width: 50%;
    max-width: 1600px;
    margin: 120px auto 0;
    text-align: center;
}

.discount-section h1{
    color: rgba(255, 0, 0, 1);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-section h5{
    color: rgba(255, 0, 0, 1);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount-section h3{
    color: rgba(7, 2, 17, 1);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px
}

.discount-section img{
    width: 100%;
    min-height: 500px;
}



/* welcome-section */



.welcome-section{
    background-image: linear-gradient(90.00deg, rgba(7, 2, 17, 1),rgba(7, 2, 17, 0) 100%),url('../new-year-offer-resources/images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    max-width: 1600px;
    min-height: 600px;
    margin: 120px auto ;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.welcome-section .welcome-contents{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-texts{
    margin-left: 125px;
}

.welcome-contents h1{
    color: rgba(255, 255, 255, 1);
    font-family: Merriweather;
    font-size: 4rem;
    font-weight: 900;
    max-width: 542px;
    min-width: 176px;
    line-height: 88px;
    letter-spacing: 5px;
    text-align: left;
    margin-bottom: 24px;
}

.welcome-contents p{
    color: rgba(255, 255, 255, 0.7);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 900px;
    min-height: 69px;
    text-align: left;
    margin-bottom: 48px;
}

.welcome-contents h5{
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-left: 25px;
}

.welcome-image{
    text-align: center;
    margin: auto;
    margin-left: -10px;
}



/* join-style */



.join{
    width: 90%;
    max-width: 1600px;
    min-height: 482px;
    margin: 0 auto 120px;
    display: flex;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1) 0%,rgba(255, 0, 0, 0) 100%);
}

.join-contents{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.join-contents .join-texts h3{
    color: rgba(7, 2, 17, 1);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.join-texts span{
    color: rgba(255, 0, 0, 1);
}

.join-contents button{
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    background: rgba(255, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    margin-top: 40px;
}



/* offer-section-style */



.offer-container{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}


.offer-container .left-aside>span{
    color: rgba(255, 0, 0, 1);
    font-family: Inter;
    font-size: 1.2 rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.offer-container .left-aside h2{
    color: rgba(7, 2, 17, 1);
    font-family: Merriweather;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 22px;
    margin-top: 16px ;
}

.offer-container .left-aside>p{
    max-width: 393px;
    min-height: 128px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 32px;
}

.offer-container .right-aside h2{
    color: rgba(255, 0, 0, 1);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.offer-container .right-aside p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 32px;
    max-width: 276px;
    min-height: 96px;
    margin-bottom: 43px;
}

.offer-container .offer-image{
    border: 15px solid rgba(255, 0, 0, 1);
    border-radius: 50%;
    /* max-width: 34%; */
    padding: 50px;
}



/* sale-section-style */




.sale{
    text-align: center;
    width: 90%;
    max-width: 1600px;
    margin: 120px auto;
}


.sale-texts h5{
    color: rgba(7, 2, 17, 1);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.sale-texts h1{
    font-family: Merriweather;
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 28px;
}

.sale-texts h1>span{
    color: rgba(255, 0, 0, 1);
}

.sale-texts p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    max-width: 1000px;
    min-height: 96px;
    margin: 0 auto;
}

.sale-image-container{
    position: relative;
    padding-top: 400px;
}

.sale-image-container #box{
    position: absolute;
    width: 30%;
    top: 27%;
    left: 15%;
    /* background: linear-gradient(90.00deg, rgba(255, 255, 255, 1) 0.261%,rgba(29, 29, 27, 1) 100.348%); */
   
    
}

.sale-image-container #discount{
    position: absolute;
    width: 15%;
    top: 10%;
    right: 10%;
}

.sale-image-container #red{
    width: 100%;
}



/* portfolio-section-style */



.portfolio{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

.portfolio .portfolio-texts h5{
    color: rgba(255, 0, 0, 1);
    font-family: Inter;
    font-size:1.25rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 16px;
}


.portfolio .portfolio-texts h2{
    color: rgba(7, 2, 17, 1);
    font-family: Merriweather;
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    margin-bottom: 22px;
}

.portfolio .portfolio-texts p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    max-width: 896px;
    min-height: 64px;
    margin-bottom: 48px;
}

.portfolio .portfolio-image-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.portfolio .portfolio-image-container img{
    width: 100%;
}



/* subscribe-section-style */


.subscribe{
    width: 90%;
    max-width: 1600px;
    margin: 120px auto;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding-bottom: 80px;
}

.subscribe img{
    margin-top: 80px;
    margin-bottom: 40px;
}

.subscribe h2{
    color: rgba(7, 2, 17, 1);
    font-family: Merriweather;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 22px;
}

.subscribe p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 32px;
    max-width: 896px;
    min-height: 64px;
    margin: 0 auto 48px;
}

#input{
    display: flex;
    justify-content: center;
    /* margin-bottom: 80px; */
}

.subscribe input[type="email"]{
    padding: 25px 250px 25px 30px;
    font-size: 1.25rem;
    border: none;
    border-radius: 50px 0 0 50px;
    background: rgba(255, 255, 255, 1);
}

.subscribe button{
    padding:  25px 70px 25px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background-color: rgba(255, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;
}