@media screen and (min-width:577px) and (max-width:992px){
    .discount-section{
        width: 95%;
        height: auto;
        margin: 5px auto;
    }

    .welcome-texts{
        margin-left: 60px;
        padding-left: 25px;
    }

    .welcome-contents h1{
        font-size: 3.5rem;
        line-height: normal;
    }

    .join-contents{
        width: 80%;
    }

    .offer-container{
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .offer-container .left-aside, .right-aside,
    .left-aside {
        max-width: 100%;
    }

    .right-aside{
        display: flex;
        gap: 50px;
    }

  .offer-container .offer-image {
        border: 15px solid rgba(255, 0, 0, 1);
        border-radius: 50%;
        /* max-width: 34%; */
        padding: 20px;
    }
    
    .sale-image-container{
        padding-top: 220px;
    }

    .sale-image-container #box{
            top: 43%;
    }
}

@media screen and (min-width:993px) and (max-width:1450px){
    .sale-image-container{
        padding-top: 300px;
    }

    .sale-image-container #box{
        top: 35%;
    }
}