@media screen and (min-width:577px) and (max-width:992px){
    .discount-section{
        width: 95%;
        height: auto;
        margin: 5px auto;
    }

    .welcome-texts{
        margin-left: 60px;
        padding-left: 25px;
    }

    .welcome-contents h1{
        font-size: 3.5rem;
        line-height: normal;
    }

    .join-contents{
        width: 80%;
    }

    .new-offer{
        width: 90%;
    }

    .offer-container{
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .offer-container .left-aside, .right-aside,
    .left-aside {
        max-width: 100%;
    }

    .right-aside{
        display: flex;
        gap: 50px;
    }

  .offer-container .offer-image {
        border: 15px solid rgba(255, 0, 0, 1);
        border-radius: 50%;
        /* max-width: 34%; */
        padding: 20px;
    }
    
    .sale-image-container{
        padding-top: 220px;
    }

    .sale-image-container #box{
            top: 43%;
    }

    .portfolio .portfolio-image-container{
        grid-template-columns: repeat(2,1fr);
    }

    #input{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .subscribe input[type="email"]{
        width: 50%;
        text-align: center;
        padding: 20px;
        font-size: 1.25rem;
        border: none;
        border-radius: 50px;
        background: rgba(255, 255, 255, 1);
    }

    .subscribe button{
        width: 50%;
        padding: 20px;
        font-size: 1.25rem;
        border: none;
        border-radius: 50px;
        background-color: rgba(255, 0, 0, 1);
        color: rgba(255, 255, 255, 1);
    }

    footer {
        background: rgba(7, 2, 17, 1);
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .footer-container {
        border: 2px solid;
        width: 90%;
        max-width: 1600px;
        margin: 0 auto;
    }

    .upper-footer {
        display: flex;
        flex-wrap: wrap;
        margin-top: 120px;
        margin-bottom: 50px;
        gap: 20px;
    }

    .middle-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .down-footer {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 120px;
        gap: 20px;
    }

    .middle-footer {
        text-align: center;
        margin: 48px auto;
    }
    
    .upper-footer>div:nth-child(2)>div{
        margin-bottom: 8px;
    }

    hr{
        width: 100%;
    }
}

@media screen and (min-width:993px) and (max-width:1450px){

      .offer-container{
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .offer-container .left-aside, .right-aside,
    .left-aside {
        max-width: 100%;
    }

    .right-aside{
        display: flex;
        gap: 50px;
    }

  .offer-container .offer-image {
        border: 15px solid rgba(255, 0, 0, 1);
        border-radius: 50%;
        /* max-width: 34%; */
        padding: 20px;
    }
    

    .sale-image-container{
        padding-top: 300px;
    }

    .sale-image-container #box{
        top: 35%;
    }

}
