@media screen and (min-width:577px) and (max-width:992px){
    .discount-section{
        width: 95%;
        height: auto;
        margin: 5px auto;
    }

    .welcome-texts{
        margin-left: 60px;
        padding-left: 25px;
    }

    .welcome-contents h1{
        font-size: 3.5rem;
        line-height: normal;
    }

    .join-contents{
        width: 80%;
    }
}